@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
    --text-color: #455264;
    --header-color: #0b0b0b;
    --background-color: #e6e6e6;
    --gak-tau: #908cbf;
}
body {
    font-family: "Poppins", sans-serif !important;
    background: linear-gradient(to left, var(--background-color), #cadeff);
}
.text_hero {
    font-size: 50px;
    color: var(--header-color);
    line-height: 1.2;
    font-weight: 600;
}

img {
    pointer-events: none;
}

.hero {
    margin-top: 70px;
    height: calc(100vh - 70px);
    padding: 0px 96px;
    padding-top: 36px;
}

.navbar {
    height: 70px;
    background: linear-gradient(to left, var(--background-color), #cadeff);
    z-index: 100 !important;
    padding: 0px 20px;
}

.img_hero {
    width: 80%;
    height: 100%;
}
.text_content_hero {
    font-size: 16px;
}
.notif_hero {
    background-color: #c7daff;
    color: #3057e8;
    padding: 8px;
    font-weight: 600;
    border-radius: 10px;
}
.btn_hero {
    background-color: #3259e8;
    color: #fff;
}
.fitur {
    padding: 0px 96px;
}
.header_fitur {
    font-size: 27px;
    color: var(--header-color);
    line-height: 1.2;
    font-weight: 500;
}
.iconFitur {
    width: 50px;
    height: 50px;
    background-color: #c7daff;
    border-radius: 50px;
}
.iconBootstrap {
    font-size: 21px;
    color: #3259e8;
    font-weight: 800;
}
.subHeaderFitur {
    font-size: 18px;
    color: var(--header-color);
    line-height: 1.2;
    font-weight: 500;
}
.wrapper_img_fitur {
    width: 100%;
}
.img_fitur {
    width: 100%;
    border-radius: 36px;
    height: 100%;
}
.umkm {
    padding: 0px 96px;
}
.umkm_main_header {
    font-size: 27px;
    color: var(--header-color);
    line-height: 1.2;
    font-weight: 500;
}
.ketBuka{
    font-size: 14px;
}
.jamBuka{
    font-size: 12px;
    font-weight: 300;
}
.kegiatan_warga_main_header{
    font-size: 27px;
    color: var(--header-color);
    line-height: 1.2;
    font-weight: 500;
}
.kegiatan_warga {
    padding: 0px 96px;
}
.footer{
    padding: 20px;
}
@media (max-width: 1188px) {
    .text_hero {
        font-size: 35px !important;
    }
}
@media (max-width: 792px) {
   .img_hero{
       width: 70%;
   }
}
@media screen and (max-width: 992px) {
    .navbar{
        margin: 0px !important;
        padding: 0px !important;
    }
    .img_hero{
        width: 100%;
    }
    .hero{
        padding: 0px 30px;
        margin-top: 100px !important;
    }
    .fitur{
        padding: 0px 30px;
    }
    .umkm{
        padding: 0px 30px;
    }
    .kegiatan_warga{
        padding: 0px 30px;
    }
    .contact{
        padding: 0px 30px !important;
    }
    
}
@media screen and (max-width: 923px) {
    .text_hero {
        font-size: 30px !important;
        margin-top: 30px;
    }
    .hero{
        margin-top: 30px;
    }
    .notif_hero {
        font-size: 12px;
    }
}
.contact {
    padding: 0px 96px;
}
.kontak_header{
    font-size: 27px;
    color: var(--header-color);
    line-height: 1.2;
    font-weight: 500;
}
.kontak_text{
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
}